
.tiles {
  font-family: Montserrat;
  a {
    position: relative;
    text-align: center;
    img{
     
      background-size: contain;
      background-repeat: no-repeat;
      filter:blur(3px);

    }
  }

  .info {
    position:absolute;
    top: 36%;
    width: 85%;
    text-align: center;
    font-size: 3.0vw;
    font-weight: bold;
    color: #3C1218;
  }

  .sub-info {
    font-size: 2.0vw;
    position: absolute;
    top: 52%;
    width:85%;
    color: #3C1218;
  }

  .cat{
    font-size: 4.0vw;
    font-weight: bold;
    position: absolute;
    top: 40%;
    width:85%;
    color: black;
    
  }

}