
.tiles {
  font-family: Montserrat;
  a {
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    .info {
      position: absolute;
      top: 37%;
      left:0;
      right:0;
      font-size: 4.0vw;
      font-weight: bold;
      color: #3C1218;
    }
    .sub-info {
      position: absolute;
      top: 52%;
      left:0;
      right:0;
      font-size: 3.0vw;
      color: #3C1218;
    }
  }
  .scale{
    width:100%;
    height: auto;
    z-index: -1 ;
    filter:blur(3px);
  }


  .cat{
    font-size: 4.0vw;
    text-align:center;
    font-weight: bold;
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display:inline;
  }

}